<%- include('./partials/header') %> 
    <h1><%= title %></h1>
    <p><%= title %> for Your Apps</p>
    <form action="/" method="post">
      <label>URL:</label>
      <br>
      <input type="text" name="urlInput">
      <br>
      <label>Grouping:</label>
      <br>
      <input type="text" name="grouping">
      <br>
      <input type="submit" value="Fetch Version">
    </form>
    <% versionInfo.forEach(element => { %>
     <p><%- element.version %></p>
    <% }) %>
<%- include('./partials/footer') %> 